@import url("https://fonts.googleapis.com/css2?family=Lato&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Berkshire+Swash&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-family: 'Lato', sans-serif;
  color: #D6F1FF;
  font-size: 18px;
  line-height: 1.4em;
  caret-color: transparent;
}

html,
body {
  height: 100%;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#030C0D), to(#102D30));
  background-image: linear-gradient(#030C0D, #102D30);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

header {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #205169;
}

header .site-logo {
  margin: 2px;
}

header .site-title {
  font: bold 1.5em 'Lora', serif;
  line-height: 40px;
  margin-left: 0.3em;
}

main {
  width: 100%;
  max-width: 1920px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

main.champ-select-view {
  padding: 1em 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
}

.intro {
  padding: 1em 0.3em;
  text-align: center;
  border: 3px double #205169;
  border-radius: 3px;
}

.intro h1 {
  margin: 0;
  font-size: 1.8em;
  line-height: 1.2em;
}

.grid-list {
  margin-top: 1em;
  display: -ms-grid;
  display: grid;
  font-size: 0.7em;
  gap: 0.5em;
  -ms-grid-columns: (minmax(80px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(80px, auto));
}

.grid-list.champ-list.loading {
  -ms-grid-columns: 20px auto;
      grid-template-columns: 20px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-list.champ-list.loading p {
  margin: 0;
  font-size: 1.2em;
}

.grid-list figure {
  margin: 0;
  text-align: center;
  line-height: initial;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.grid-list figure:hover {
  outline: 2px solid #FFE900;
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.grid-list img {
  width: 100%;
}

.grid-list figcaption {
  opacity: 50%;
  margin: 0 0.3em;
}

.build-view-header {
  font-family: 'Berkshire Swash', 'Lora', serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto 1fr;
      grid-template-columns: auto auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  font-size: 1.8em;
}

.build-view-header img {
  height: 50px;
}

.build-view-header .champ-name {
  margin-left: 0.3em;
}

.build-view-header .edit-champ-button {
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 0.4rem;
}

.build-view-header .edit-champ-button :hover {
  color: #FFE900;
  cursor: pointer;
}

.item-belt {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  min-height: 50px;
}

.item-belt .build-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #D6F1FF;
  cursor: pointer;
}

.item-belt .build-item .add-item-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-belt .build-item img {
  width: 100%;
}

.item-belt .build-item:after {
  content: "";
  height: 0;
  display: inline-block;
  padding-top: 100%;
  width: 0;
  position: relative;
}

.item-belt :not(.build-item:last-child) {
  border-right: 0;
}

.item-belt .build-item:hover,
.item-belt .build-item[data-active-belt-slot="true"] {
  border: 3px solid #FFE900;
  cursor: pointer;
}

.item-belt .build-item:hover .add-item-button,
.item-belt .build-item[data-active-belt-slot="true"] .add-item-button {
  color: #FFE900;
  cursor: pointer;
}

.build-stats-display {
  text-align: center;
}

.build-stats-display .build-stat {
  margin: 0.5em;
}

.start-hidden {
  display: none;
}

.loading-animation-container {
  height: 20px;
  width: 20px;
  background-color: transparent;
}

.morphing-circle {
  height: 100%;
  width: 100%;
  background-color: #205169;
  border-radius: 50%;
  -webkit-transition: border-radius .5s ease, background-color .5s ease, -webkit-transform .5s ease .5s;
  transition: border-radius .5s ease, background-color .5s ease, -webkit-transform .5s ease .5s;
  transition: border-radius .5s ease, background-color .5s ease, transform .5s ease .5s;
  transition: border-radius .5s ease, background-color .5s ease, transform .5s ease .5s, -webkit-transform .5s ease .5s;
  -webkit-animation: morphing-circle-square 1.5s linear infinite;
          animation: morphing-circle-square 1.5s linear infinite;
}

@-webkit-keyframes morphing-circle-square {
  0% {
    border-radius: 50%;
  }
  25% {
    /*(if you don't add both red and circle here it will start changing one or the other before you are ready) */
    border-radius: 50%;
    background-color: #205169;
  }
  50% {
    /* now change to white square...but don't start rotating yet! */
    border-radius: 0%;
    background-color: #D6F1FF;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    /* stay a white square, but rotate 90deg */
    border-radius: 0%;
    background-color: #D6F1FF;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    /* stay rotated at 90, but change back to a circle */
    border-radius: 50%;
    background-color: #205169;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes morphing-circle-square {
  0% {
    border-radius: 50%;
  }
  25% {
    /*(if you don't add both red and circle here it will start changing one or the other before you are ready) */
    border-radius: 50%;
    background-color: #205169;
  }
  50% {
    /* now change to white square...but don't start rotating yet! */
    border-radius: 0%;
    background-color: #D6F1FF;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    /* stay a white square, but rotate 90deg */
    border-radius: 0%;
    background-color: #D6F1FF;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    /* stay rotated at 90, but change back to a circle */
    border-radius: 50%;
    background-color: #205169;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media only screen and (min-width: 900px) {
  :root {
    font-size: 22px;
  }
  main.champ-select-view {
    padding: 1em 3em;
  }
  .grid-list {
    font-size: 0.8em;
    gap: 0.5em;
    -ms-grid-columns: (minmax(120px, auto))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(120px, auto));
  }
  .grid-list.item-list {
    margin: 1em;
  }
  .build-view-header {
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
    height: 125px;
  }
  .build-view-header img {
    height: 100%;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: 1/1;
  }
  .build-view-header .edit-champ-button {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: 1/1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .build-view-header .edit-champ-button :hover {
    color: #FFE900;
    cursor: pointer;
  }
  .build-view-header .champ-name {
    margin-left: 0.3em;
  }
  .build-item .add-item-button {
    font-size: 3em;
  }
  .build-stats-display {
    margin: 1em;
    font-size: larger;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media only screen and (min-width: 1920px) {
  .item-belt {
    margin-top: 2rem;
    padding: 0 8em;
  }
  .item-belt .build-item .add-item-button {
    font-size: 4em;
  }
  .build-stats-display {
    margin: 2rem;
  }
}
/*# sourceMappingURL=lbc-styles.css.map */