@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Berkshire+Swash&display=swap');
$color-primary: #205169;
$color-secondary: #102D30;
$color-highlight: #FFE900;
$color-background: #030C0D;
$color-font-dark: #000203;
$color-font-light: #D6F1FF;
@mixin serif-default {
    font-family: 'Lora', serif;
}

@mixin sans-default {
    font-family: 'Lato', sans-serif;
}

@mixin cursive-default {
    font-family: 'Berkshire Swash', 'Lora', serif;
}

@mixin clickableHighlight {
    color: $color-highlight;
    cursor: pointer;
}

@mixin clickableBorderHighlight {
    border: 3px solid $color-highlight;
    cursor: pointer;
}

@mixin clickableOutlineHighlight {
    outline: 2px solid $color-highlight;
    cursor: pointer;
}

@mixin scaleTransform {
    transform: scale(1.2);
}

@mixin transition {
    transition: transform 0.2s ease-out;
}

@mixin overlay {
    // position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

:root {
    @include sans-default;
    color: $color-font-light;
    font-size: 18px;
    line-height: 1.4em;
    caret-color: transparent;
}

html,
body {
    height: 100%;
}

body {
    background-image: linear-gradient($color-background, $color-secondary);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    flex-flow: column;
}

header {
    flex: 0 1 auto;
    display: flex;
    background-color: $color-primary;
    .site-logo {
        margin: 2px;
    }
    .site-title {
        font: bold 1.5em 'Lora', serif;
        line-height: 40px;
        margin-left: 0.3em;
    }
}

main {
    width: 100%;
    max-width: 1920px;
    // background-color: $color-background;
    align-self: center;
    flex: 1 1 auto;
    &.champ-select-view {
        padding: 1em 0.5em;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include serif-default;
}

.intro {
    padding: 1em 0.3em;
    text-align: center;
    border: 3px double $color-primary;
    border-radius: 3px;
    h1 {
        margin: 0;
        font-size: 1.8em;
        line-height: 1.2em;
    }
}

.grid-list {
    margin-top: 1em;
    display: grid;
    font-size: 0.7em;
    gap: 0.5em;
    grid-template-columns: repeat(auto-fit, minmax(80px, auto));
    &.champ-list {
        &.loading {
            grid-template-columns: 20px auto;
            align-items: center;
            p {
                margin: 0;
                font-size: 1.2em;
            }
        }
    }
    figure {
        margin: 0;
        text-align: center;
        line-height: initial;
        @include transition();
    }
    figure:hover {
        @include clickableOutlineHighlight();
        @include scaleTransform();
    }
    img {
        width: 100%;
    }
    figcaption {
        opacity: 50%;
        margin: 0 0.3em;
    }
}

.build-view-header {
    @include cursive-default();
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    height: 50px;
    font-size: 1.8em;
    img {
        height: 50px;
    }
    .champ-name {
        margin-left: 0.3em;
    }
    .edit-champ-button {
        justify-self: end;
        margin-right: 0.4rem;
         :hover {
            @include clickableHighlight();
        }
    }
}

.item-belt {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    min-height: 50px;
    // background-color: $color-primary;
    .build-item {
        display: flex;
        justify-content: center;
        border: 2px solid $color-font-light;
        cursor: pointer;
        .add-item-button {
            display: flex;
            align-items: center;
        }
        img {
            width: 100%;
        }
        &:after {
            // force belt items to square aspect ratio (could use aspect-ratio: 1 but it is unsupported in safari);
            content: "";
            height: 0;
            display: inline-block;
            padding-top: 100%;
            width: 0;
            position: relative;
        }
    }
     :not(.build-item:last-child) {
        border-right: 0;
    }
    .build-item:hover,
    .build-item[data-active-belt-slot="true"] {
        @include clickableBorderHighlight();
        .add-item-button {
            @include clickableHighlight();
        }
        transition: border-color 0.3s;
    }
}

.build-stats-display {
    text-align: center;
    .build-stat {
        margin: 0.5em;
    }
}

.start-hidden {
    display: none;
}

.loading-animation-container {
    height: 20px;
    width: 20px;
    background-color: transparent;
}

.morphing-circle {
    height: 100%;
    width: 100%;
    background-color: $color-primary;
    border-radius: 50%;
    transition: border-radius .5s ease, background-color .5s ease, transform .5s ease .5s;
    animation: morphing-circle-square 1.5s linear infinite;
}

@keyframes morphing-circle-square {
    0% {
        border-radius: 50%
    }
    25% {
        /*(if you don't add both red and circle here it will start changing one or the other before you are ready) */
        border-radius: 50%;
        background-color: $color-primary;
    }
    50% {
        /* now change to white square...but don't start rotating yet! */
        border-radius: 0%;
        background-color: $color-font-light;
        transform: rotate(0deg);
    }
    75% {
        /* stay a white square, but rotate 90deg */
        border-radius: 0%;
        background-color: $color-font-light;
        transform: rotate(90deg);
    }
    100% {
        /* stay rotated at 90, but change back to a circle */
        border-radius: 50%;
        background-color: $color-primary;
        transform: rotate(90deg);
    }
}

@media only screen and (min-width: 900px) {
     :root {
        font-size: 22px;
    }
    main.champ-select-view {
        padding: 1em 3em;
    }
    .grid-list {
        font-size: 0.8em;
        gap: 0.5em;
        grid-template-columns: repeat(auto-fit, minmax(120px, auto));
        &.item-list {
            margin: 1em;
        }
    }
    .build-view-header {
        grid-template-columns: auto 1fr;
        height: 125px;
        .build-view-champ-image-wrapper {
            grid-area: 1/1;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.7);
                opacity: 0;
                transition: all 0.3s;
            }
            &:hover:after {
                opacity: 1;
                cursor: pointer;
            }
            img {
                height: 100%;         
            }
        }
        .edit-champ-button {
            grid-area: 1/1;
            justify-self: center;
            z-index: 2;
        }
        .champ-name {
            margin-left: 0.3em;
        }
    }
    .build-item .add-item-button {
        font-size: 3em;
    }
    .build-stats-display {
        margin: 1em;
        font-size: larger;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

@media only screen and (min-width: 1920px) {
    .item-belt {
        margin-top: 2rem;
        padding: 0 8em;
        .build-item {
            .add-item-button {
                font-size: 4em;
            }
        }
    }
    .build-stats-display {
        margin: 2rem;
    }
}