@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$color-primary: #205169;
$color-secondary: #102D30;
$color-highlight: #FFE900;
$color-background: #030C0D;
$color-font-dark: #000203;
$color-font-light: #D6F1FF;

:root {
    font-family: 'Lato', sans-serif;
    color: $color-font-light;
    font-size: 18px;
    line-height: 1.4em;
}

body {
    background-color: $color-secondary;
    margin: 0;
}

main {
    margin: auto;
    max-width: 1200px;
    padding: 2em 0.5em;
    background-color: $color-background;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

.site-header {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: $color-primary;
    .site-logo {
        margin: 2px;
        color: $color-highlight;
    }
    .site-title {
        font: bold 1.5em 'Lora', serif ;  
        line-height: 40px; 
        margin-left: 0.3em;
    }
}

.intro {
    padding: 1em 0.3em;
    text-align: center;
    border: 3px double $color-primary;
    border-radius: 3px;
    h1 {
        margin: 0;
        font-size: 1.8em;
        line-height: 1.2em;
    }
}

.champ-list  {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, auto));
    gap: 0.5em;
    figure {
        margin: 0;
        font-size: 0.7em;
        text-align: center;
        line-height: initial;
        img {
            width: 100%;
        }
        figcaption {
            opacity: 50%;
        }
    }
}

@media only screen and (min-width: 900px) {
    main {
        padding: 0 3em;
        background-color: red;
    }
}